.container_hero{
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100vh;
}

.hero_text_block {
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hero_title {
  font-family: var(--font-title-primary);
  font-size: 8rem;
  color: var(--color-title-primary);
  text-align: center;
  line-height: 1;
  width: 100%;

}
.hero_scroll_cta	{
  display: block;
  padding: 1.5rem;
  color: var(--color-medium-gray);
  transition: color 0.2s ease;
  background-color: var(--color-light-gray);
  border-radius: 0.5rem;
  font-weight: 600;
}

.hero_scroll_cta:hover {
  background-color: var(--color-title-primary);
}