@keyframes grain {
  0% {
      transform: translate(20%, -15%)
  }
  10% {
      transform: translate(-20%, -15%)
  }
  20% {
      transform: translate(20%, -5%)
  }
  30% {
      transform: translate(-20%, -5%)
  }
  40% {
      transform: translate(20%, 5%)
  }
  50% {
      transform: translate(-20%, 5%)
  }
  60% {
      transform: translate(20%, 15%)
  }
  70% {
      transform: translate(-20%, 15%)
  }
  80% {
      transform: translate(20%, 5%)
  }
  90% {
      transform: translate(-20%, 5%)
  }
  100% {
      transform: translate(20%, -5%)
  }
}

.custom_background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -2;
  background-image: url(./black_texture.png);
  overflow: hidden;
}

.custom_background::after {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  background-image: url(./noise.png);
  background-repeat: repeat;
  opacity: 0.03;
  animation: grain 6s steps(10) infinite;
  pointer-events: none;
  mix-blend-mode: color-dodge;
}