@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@700&family=Lato:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
  --font-title-primary: 'Kalnia', serif;
  --color-title-primary: #f7c130;
  --color-dark: #030c1a;
  --color-light-gray : #ffffffb3;
  --color-medium-gray: #4B4B4B;
  --color-hard-gray: #353535;

  width: 100vw;
  max-width: 100%;
}

html {
  font-size: 62.5%;
  font-family: "Titillium Web", sans-serif;
  color: var(--primary_color);
  font-weight: 300;
  line-height: 1.7;
}

body {
  background-color: var(--color-hard-gray);
  color: var(--color-light-gray );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
}

body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.subtitle {
  text-align: center;
}

.stage {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  border: solid 1px var(--color-light-gray);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

[id*="section"], #hero{
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;;
}
/* #section1 {
  border:dashed olive;
}

#section2 {
  border:dashed tomato;
} */

.container {
  width: 50vw;
  height: 100%;
  position: absolute;
  padding: 5vw;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_left {
  left: 0;
}

.container_right {
  right: 0;
}

#text-2 {
  opacity: 0;
}

#text-3 {
  opacity: 0;
}


h2 {
  font-family: var(--font-title-primary);
  font-size: 8rem;
  line-height: 1;
  margin-bottom: 2rem;
  width: 100%;

}

p {
  font-size: 2.4rem;

}


.text-block {
  /* background: tomato; */
  /* width: 50%; */
}
@media only screen and (min-width: 1024px) {
  .app_title {
    font-size: 5vw;
  }
}
